.book {
  width: calc(25% - 10px);
  background-color: var(--back-col-widget);
  border-radius: var(--border-rad-widget);
}

.tables {
  display: flex ;
  flex-direction: column;
  padding: 10px;
}

.name {
  display: block;
  padding: 10px;
  color: var(--text-col-light);
  font-size: 16px;
  border-bottom: 1px solid var(--border-col-gray);
}



.head {
  display: flex;
  height: 25px;
  margin-bottom: 5px;
  color: var(--text-col-gray);
  li:not(:first-of-type) {
    justify-content: end;
  }

}

.list_item {
  display: flex;
  justify-content: space-between;
}

.cell {
  display: flex;
  align-items: center;
  width: calc((100% / 3));
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  &:not(:first-of-type) {
    text-align: right;
  }
}

.price_display {
  display: flex;
  align-items: center;
  height: 40px;
}



.row {
  display: flex;
  margin-bottom: 2px;
  &:hover {
    background-color: var( --back-col-dark-accent);
    cursor: pointer;
    span {
      border-color:  var(--back-col-dark-accent);
    }
  }

  span:not(:first-of-type) {
    color: var(--text-col-light);
    justify-content: end;
  }
}

.ask_order {
  @extend .row;
  color: var(--green);
}

.bid_order {
  @extend .row;
  color: var(--red);
}
