.pairsBlock {
  height: 480px;
  width: calc(25% - 10px);

  background-color: var(--back-col-widget);
  border-radius: var(--border-rad-widget);
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  margin-bottom: 20px;
  padding: 0 15px;
  border-bottom: 1px solid var(--border-col-gray);
}

.curr_list {
  display: flex;
  align-items: center;
}

.pairs_list {
  height: 365px;
  padding: 15px 0;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 6px;
    height: 100%;
    background-color: var(--border-col-gray);
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--green); /* Dark gray thumb */
    border-radius: 2px; /* Rounded corners */
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.fav_icon {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 20px;
  width: auto;
  cursor: pointer;
  fill: var(--text-col-gray);
  padding: 2px;
  border: 1px solid var(--border-col-gray);
  border-radius: 4px;

  &_active {
    @extend .fav_icon;
    fill: var(--golden);
    border-color: var(--golden);
  }
}

.star_pair {
  display: flex;
  align-items: center;
}

.currency {
  font-size: 15px;
  color: var(--text-col-gray);
  cursor: pointer;
  fill: var(--text-col-gray);
  &:not(:last-of-type) {
    margin-right: 18px;
  }

  &:hover {
    color: var(--text-col-light);
  }
}

.currency_active {
  @extend .currency;
  color: var(--text-col-light);
  fill: var(--golden);
}

.pairs_list {
  padding: 10px 0px;
}

.pair {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 25px;
  padding: 0 15px;
  font-size: 13px;
  color: var(--text-col-light);
  &:hover {
    background-color: var( --back-col-dark-accent);
  }
}

.pair_fav {
  @extend .pair;
  justify-content: start;
}

.search_input {
  color: var(--text-col-light);
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: transparent;
  border: 1px solid var(--border-col-gray);
  border-radius: var(--border-rad-widget);
}

.search_icon {
  position: absolute;
  bottom: 5px;
  left: 20px;
  display: flex;
  width: 15px;
  align-items: center;
  justify-content: center;
  fill: var(--text-col-gray);
}

.search_field {
  position: relative;
  padding-left: 15px;
  padding-top: 15px;
}

.pair_item {
  width: calc(100% - 25px);
  font-size: 12px;
}

.pair_name {
  @extend .pair_item;
  cursor: pointer;
}

.price {
  @extend .pair_item;
  text-align: right;
}

.change {
  @extend .pair_item;
  text-align: right;
  color: var(--green)
}

.change_red {
  @extend .change;
  color: var(--red);
}